.chat {
	height: 165px;
	border: black 2px solid;
}

.gameplay {
	margin-top: 30px;
	height: 25vh;
	border: black 2px solid;
}

.chatDisplay {
	margin-top: 5px;
	height: 125px;
	overflow: scroll;
}

.controls {
	margin-top: 25px;
}
